* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 223, 223);
  font-family: "Open Sans", sans-serif;
}
#navbar {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px #d3d3d3;
}
.navbar-container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container h1 {
  color: rgb(255, 145, 0);
  font-size: 28px;
  font-weight: 700;
  margin: 10px;
}

.navbar-container a {
  color: black;
  opacity: 80%;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  text-decoration: none;
}

.navbar-container a:hover {
  opacity: 100%;
}

.home {
  margin: 5px;
  display: flex;
  align-items: center;
}

input {
  width: 80px;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid rgb(175, 175, 175);
  transition: width 0.4s ease-in-out;
}

input:focus {
  width: 200px;
}

.navbar-container button {
  height: 30px;
  border-radius: 15px;
  background-color: rgb(223, 223, 223);
  border: none;
  opacity: 75%;
}

.navbar-container button:hover {
  opacity: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  background-color: white;
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
}

.dropbtn:hover {
  background-color: rgb(175, 175, 175);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-content {
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: columns;
  justify-content: center;
}

.news-container {
  max-width: 1400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-basis: 60%;
  background: white;
  padding: 30px;
  border: 1px solid rgb(175, 175, 175);
}

.news-container:hover {
  box-shadow: 5px 5px 8px #b6b6b6;
}

li h1 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

li img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

li p {
  font-size: 1rem;
  color: rgb(107, 107, 107);
}

.source-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.source-time h4 {
  font-size: 18px;
  color: orange;
}

.read-more-btn {
  border: 1px solid rgb(177, 177, 177);
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
  padding: 5px 10px;
}

.read-more-btn:hover {
  background-color: rgb(177, 177, 177);
}

footer {
  border-top: 1px solid rgb(211, 211, 211);
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.footer-container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-container .column {
  display: flex;
  flex-direction: column;
}

.footer-container a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  line-height: 2em;
}
